.history {
  .video {
    display: inline-block;
  }
  .title {
    div:nth-child(1) {
      margin-right: 40px;
    }
    .videotitle {
      display: inline-block;
    }
    a {
      color: black;
      &:hover {
        color: black;
      }
      .videolink {
        text-align: left;
        white-space: nowrap;
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .videothumbnail {
    width: 250px !important;
    height: 150px !important;
  }
  h6 {
    margin-left: 120px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 425px) {
  .videothumbnail {
    width: 90vw !important;
    height: 150px !important;
    margin-left: 15px !important;
  }
  h6 {
    display: none;
  }
}
