.home {
  background-color: #f9f9f9;

  .videoThumbnail {
    margin-top: 10px;
    div {
      display: inline-block;
    }
  }

  .Navbar {
    width: 100%;
    background-color: white !important;
  }

  .HomeVideos {
    width: 260px;
    height: 155px;
    margin-left: 10px;
  }
  .videotitlesec {
    text-align: left;
  }

  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  a:nth-child(n + 2) {
    margin-left: 20px;
  }

  .homevideotitle {
    font-size: 14px;
    font-weight: 900;
    display: inline-block;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .channelTitle {
    display: inline-block;
    width: 250px;
    font-size: 14px;
    font-weight: 500;
    color: grey;
    &:hover {
      color: black;
    }
  }
  .channelTitle:nth-child(n + 2) {
    margin-left: 20px;
  }
  .channelTitleSection {
    text-align: left;
  }
}

//

@media only screen and (max-width: 425px) {
  .homevideotitle {
    display: none !important;
  }
  .channelTitle {
    display: none !important;
  }
  .HomeVideos {
    margin-bottom: 10px;
  }
}
