

.home{
    background-color: #F9F9F9;

    .categoryname{
        text-align: left;
        margin-left: 30px;
    }

    img{
        width:250px;
        height:150px;
        padding-right: 10px;
    }

    .videoThumbnail {
        // overflow: scroll;
        div{
            display: inline-block !important;
        }
    }

    .Navbar{
        width: 100%;
        background-color: white !important;
    }

}



@media only screen and (max-width: 425px){
    .home{
        h5{
            font-size: 15px !important;
        }
    }
}
