.Login{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.Form{
  background-color: #e2dfdf;
  position: fixed; /* Stay in place */
  /* margin: 13% 30% 17%; 15% from the top and centered */
  /* padding: 40px; */
  /* margin:25% auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width:35%;
  height:70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top:1px ;
  margin-right: 6px;
}
