.searchResult {
  margin-top: 50px;

  img {
    background-color: #dedede;
  }

  .description {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .videothumbnail {
    margin-bottom: 10px;
  }
  .title {
    text-align: left;
  }
}
