.Navbar{
    width: 100%;
    background-color: white !important;
}

.chooseCat{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    width:100%;
    .link{
        margin-right: 10px;
        border: 1px solid black;
        width: 200px;
        border-radius: 100px;
        padding:5px;
        min-width: 200px;
}
}

.searchbox{
    width:70%;
}

.inputbox{
    width: 80% !important;
}

.loginlink{
    margin-right: 10px;
}

.sidedrawer{
    width: 20px;
    height: 25px;
}

.profilepic{
    border-radius: 100px;
    width:40px;
    height:40px;
}

.dropdown-menu{
    // right:0px !important;
    padding: 10px 50px 10px 50px !important;
    margin: 5px 0px 0px -255px !important;
    text-align: center !important;

}