.searchResult {
  margin-top: 50px;

  .description {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  p {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .videothumbnail {
    margin-bottom: 10px;
  }
  .title {
    text-align: left;
  }
  .videoTitle:hover {
    text-decoration: none !important;
  }
}

@media only screen and (max-width: 425px) {
  .searchResult {
    .HomeVideos {
      width: 275px !important;
      height: 175px !important;
    }
    .row {
      margin: 10px 0px 30px 8px !important;
    }
  }
}
