@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.Searchbar {
  .Navbar {
    width: 100%;
    background-color: white !important;
  }

  .chooseCat {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    width: 95%;
    margin: auto;
    background-color: #f9f9f9;

    .link {
      font-size: 14px;
      color: black;
      background-color: #eeeeee;
      margin-left: 10px;
      border: 0.5px solid #d0d0d0;
      border-radius: 100px;
      padding: 5px;
      min-width: 150px;
      margin-bottom: 10px;
      text-decoration: none !important;
      margin-top: 0px;
    }
    .link:hover {
      background-color: #e0e0e0;
    }
  }

  .youraclink {
    color: black;
    margin-top: 10px;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }

  .searchbox {
    width: 70%;
  }

  .searchbtn {
    padding: 5.5px 25px 5px 25px;
    border: 0.1px solid #b8b8b8 !important;
  }

  .inputbox {
    width: 80% !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }

  .loginlink {
    margin-right: 10px;
    color: #696969 !important;
    &:hover {
      text-decoration: none;
    }
  }

  .sidedrawer {
    width: 20px;
    height: 25px;
  }

  .profilepic {
    border-radius: 100px;
    width: 40px;
    height: 40px;
  }

  .dropdown-menu {
    // right:0px !important;
    padding: 10px 50px 10px 50px !important;
    margin: 5px 0px 0px -255px !important;
    text-align: center !important;
  }

  .logoText {
    margin-left: 3px;
    color: black;
    margin-top: 3px;
    font-family: "Oswald", sans-serif;
  }
}

@media only screen and (max-width: 425px) {
  .Searchbar {
    .Navbar {
      width: 100%;
      background-color: white !important;
    }
    .searchbox {
      width: 80%;
    }
    .inputbox {
      width: 65% !important;
    }
    .navbrand {
      display: none !important;
    }
    .loginlink {
      display: none;
    }
    .chooseCat {
      .link {
        font-size: 12px !important;
        min-width: 130px !important;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Searchbar {
    .Navbar {
      width: 100%;
      background-color: white !important;
    }
    .searchbox {
      width: 80%;
    }
    .inputbox {
      width: 60% !important;
    }
    .navbrand {
      display: none !important;
    }
    .loginlink {
      display: none;
    }
    .profilepic {
      display: none;
    }
  }
}
