.ShellApp {
  display: flex;
  flex-flow: row wrap;
  .thumbnail {
    width: 250px;
    height: 150px;
    background-color: #dedede;
    margin: 15px 5px 5px 10px;
  }

  .title {
    width: 220px;
    height: 25px;
    background-color: #dedede;
    margin: 5px 5px 15px 10px;
  }
}
